@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #FFFFFF;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chivo', sans-serif;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #E53E3E !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F7F7F7;
}
::-webkit-scrollbar-thumb {
  background: #111111;
}
